.vehicle {
    width: 70%;
    height: auto;
}
.vehicle-container {
    width: 300px;
    height: 300px;
    border: 7px solid #fff3db;
    border-radius: 30px;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    box-shadow: 7px 7px 1px #42152e;
    margin-top: 60px;
    transition: 0.5s;   
}
.active{
    opacity: 1;
}

.reason {
    font-size: 1.2rem;
}

@media screen and (max-width: 992px) {
    .vehicle-container{
        width: 60vw;
        height: 60vw;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .vehicle{
        width: 60%;
    }
    .reason{
        font-size: 0.8rem;
        letter-spacing: 1px;
    }
}