button {
    width: 150px;
    height: 50px;
    background: #42152e;
    border: 5px solid #fff3db;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff3db;
    font-family: 'Baloo Chettan', cursive;
    font-size: 1rem;
}
button:hover{
    cursor: pointer;
    border: 5px solid #42152e;
    background: #fff3db;
    color: #42152e;

}