h1 {
    color: #fff3db;
    font-size: 6rem;
    letter-spacing: 1rem;
    text-shadow: 4px 7px 1px #42152e;
    margin: -30px;
    padding: 0px;
}
@media screen and (max-width: 992px) {
    h1{
        letter-spacing: 0;
        margin: 0px;
        line-height: 1em;
        text-align: center;
        font-size: 3rem;
    }
}