.weather{
    height: 150px;
    width: 250px;
    background-image: linear-gradient(to top right, #42152e,#5c3048);
    border-radius: 15px;
    transition: .4s;
    border: 6px solid #fff3db;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.weather:hover {
    transform: scale(1.1);
}
.weather img{
    height: 100%;
    transition: 0.5s;
}
.weather h2{
    color: #fff3db;
    font-size: 2rem;
    font-weight: 100;
    padding-left: 12px;
    transition: 0.5s;
}
.active {
    opacity: 1;
}
.inactive {
    opacity: 0;
}
@media screen and (max-width: 992px) {
    .weather{
        justify-content: space-around;
        align-items: space-around;
        width: 88%;
        height: 15vh;
        padding: 0px;
    }
    .weather h2 {
         font-size: 1rem;
         width: 39%;
    }
}